body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.container {
  display: grid;
  /* grid-template-columns: 25% 25% 25%; */
  /* grid-template-rows: 150px 100px; */
  /* grid-template: 15% 100px 200px / 25% 25% 25% 25%; */
  /* para espaciados entre columnas */
  gap: 10px 20px;
  /* fr medida para espacias
   */
  grid-template: 100px 200px / repeat(3, minmax(200px, 350px));
  grid-template-areas: "header header" "left contenido" "footer footer";
}
.header {
  grid-area: header;
}
.left {
  grid-area: left;
}
.contenido {
  grid-area: contenido;
}
.footer {
  grid-area: footer;
}
.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

.item .item {
  background: yellow;
}
